.letter {
  fill: none;
  stroke: black;
  stroke-width: 34;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.letter:nth-child(1) {animation: draw 1s forwards 0.1s;}
.letter:nth-child(2) {animation: draw 1s forwards 0.3s;}
.letter:nth-child(3) {animation: draw 1s forwards 0.5s;}
.letter:nth-child(4) {animation: draw 1s forwards 0.7s;}
.letter:nth-child(5) {animation: draw 1s forwards 0.9s;}
.letter:nth-child(6) {animation: draw 1s forwards 1.1s;}
.letter:nth-child(7) {animation: draw 1s forwards 1.3s;}
.letter:nth-child(8) {animation: draw 1s forwards 1.5s;}
.letter:nth-child(9) {animation: draw 1s forwards 1.7s;}
.letter:nth-child(10) {animation: draw 1s forwards 1.9s;}

@keyframes draw {
  to {stroke-dashoffset: 0;}
}