.project-container {
  background: #fff;
  transform-style: unset;
  min-height: 700px;
  //.card-project {
  //  background: red;
  //  height: 500px;
  //  .ant-card-cover {
  //    height: 300px;
  //    background: green;
  //    .ant-image {
  //      width: 100%;
  //      height: 70%;
  //    }
  //  }
  //}
}